button{
  margin:auto;
  display:block;
}

/* BUTTON STYLES */
button{
  padding:16px 32px;
  font-family:helvetica;
  font-size:16px;
  font-weight:100;
  color:#fff;
  background: #587286;
  border:0;
  font-weight:100;
}
button:hover{
  background: #3B5C76;
}

.blogger
{
background-image: -webkit-gradient(linear,left top,left bottom,from(#FDA352), to(#FB8F3D));
background-image: -webkit-linear-gradient(top,#FDA352,#FB8F3D);
background-image: -moz-linear-gradient(top,#FDA352,#FB8F3D);
background-image: -ms-linear-gradient(top,#FDA352,#FB8F3D);
background-image: -o-linear-gradient(top,#FDA352,#FB8F3D);
background-image: linear-gradient(top,#FDA352,#FB8F3D);
color:white;
border: 1px solid #FB8F3D;
}
.blogger:hover
{
background-image: -webkit-gradient(linear,left top,left bottom,from(#FD934D),to(#F9760B));
background-image: -webkit-linear-gradient(top,#FD934D,#F9760B);
background-image: -moz-linear-gradient(top,#FD934D,#F9760B);
background-image: -ms-linear-gradient(top,#FD934D,#F9760B);
background-image: -o-linear-gradient(top,#FD934D,#F9760B);
background-image: linear-gradient(top,#FD934D,#F9760B);
border: 1px solid #EB5200;
}

.yahoo
{
border: 1px solid #3261C3;
border-radius: 5px;
background: #3775DD;
background: -moz-linear-gradient(top,#3775DD 0,#3455C1 100%);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3775DD),color-stop(100%,#3455C1));
background: -webkit-linear-gradient(top,#3775DD 0,#3455C1 100%);
background: -o-linear-gradient(top,#3775DD 0,#3455C1 100%);
background: linear-gradient(to bottom,#3775DD 0,#3455C1 100%);
-webkit-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .7),inset 0 1px 2px 0 rgba(255, 255, 255, 0.5);
box-shadow: 0 2px 6px -2px rgba(0, 0, 0, .7),inset 0 1px 2px 0 rgba(255, 255, 255, 0.5);
height: 22px;
color:white;
box-sizing:none;
font-size:1em;
padding:15px;
line-height:0;/*LOL, I put 0*/
transition:all 0.3s;
}
.yahoo:hover
{
  box-shadow:0 -5px 10px #3455C1 inset;
  color:#96bcfc;
}