<body style="margin: 10px;">
    <div style="width: 640px; font-family: Arial, Helvetica, sans-serif; font-size: 11px;">
        <div align="center"><img src="images/phpmailer.gif" style="height: 90px; width: 340px"></div><br>
        <br>
        &nbsp;This is a test of PHPMailer.<br>
        <br>
        This particular example uses <strong>HTML</strong>, with a &lt;div&gt; tag and inline<br>
        styles.<br>
        <br>
        Also note the use of the PHPMailer logo above with no specific code to handle
        including it.<br />
        Included are two attachments:<br />
        phpmailer.gif is an attachment and used inline as a graphic (above)<br />
        phpmailer_mini.gif is an attachment<br />
        <br />
        PHPMailer:<br />
        Author: Andy Prevost (codeworxtech@users.sourceforge.net)<br />
        Author: Marcus Bointon (coolbru@users.sourceforge.net)<br />
    </div>
</body>
